* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header { 
  background-color: black;
  
}


p {
  margin: 0;
}

/* Nav bar CSS */

.navname {
  background-color: aquamarine;
  margin-right: auto;
  }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 10px;
  background-color: black;  
}

.nav-link {
  list-style-type: none;
  margin: 10%;
  padding: 0;
  margin: 10px;
  padding-top: 10px;
  color: aquamarine;
}

.navbar li:hover {
  cursor:pointer;
  opacity: 50%;
  }


/* hero banner CSS */

.hero-banner {
 background: url(../images/02-hero-bg.jpg);
 background-size: cover;
 overflow: hidden;
 height: 200px;
 display: flex;
}

.herocontainer {
  position: relative;
}

.bottomRight {
  margin-right: 20px;
}

.cool-sub {
  /* display: flex; */
  position: absolute;
  bottom: 0;
  right: 8%;
  color: black;
  background-color: aquamarine;
}

.name {
  display: flex;
  color: black;
  background-color: aquamarine;
}

/* main body css grid */

.profilepic {
  max-width: 100%;
}

.container {
  display: grid;
  gap: 5%;
  margin-top: 5%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5%;
  grid-template-columns: 0.5fr 2.5fr;
  grid-template-rows: 1fr 2fr 0.25fr;
  grid-template-areas: 
  "asideabout contentaboutme"
  "asidework contentwork"
  "asidecontact contentcontact"
}

aside {
  border-right: solid 3px black;
  text-align: right;
  padding: 5%;
}

.contentaboutme .contentcontact {
  justify-content: center;
  padding: 5%;
  
}

.contentcontact {
  display: flex;
  align-items: center;
}

/* building a grid within a grid for the work section photos */

.project1 {
  background-image: url(../images/02-portfolio-4.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  border: solid 4px aquamarine;
  grid-area: project1;
  position:relative;
}

.project2 {
  background-image: url(../images/02-portfolio-2.jpg);
  background-size: cover;
  background-position: center;
  border: solid 4px aquamarine;
  grid-area: project2;
  position:relative;
}

.project3 {
  background-image: url(../images/02-portfolio-1.jpg);
  background-size: cover;
  background-position: center;
  border: solid 4px aquamarine;
  grid-area: project3;
  position:relative;
}

.project4 {
  background-image: url(../images/02-portfolio-3.jpg);
  background-size: cover;
  background-position: center;
  border: solid 4px aquamarine;
  grid-area: project4;
  position:relative;
}

.project5 {
  background-image: url(../images/02-run-buddy.jpg);
  background-size: cover;
  background-position: center;
  border: solid 4px aquamarine;
  grid-area: project5;
  position:relative;
}

.portfoliocontainer {
  display: grid;
  gap: 1%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5";
}


.awesome a {
  background-color: aquamarine;
  position: absolute;
  bottom: 10%;
  left: 0;
}

/* contact me section */

.contentcontact a {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}