* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1 {
  
}


h2 {
  display: block;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.container-fluid {
  display: flex;
}

.navbar li {
  display: inline;
  justify-content: space-between;
  list-style: none;
  margin-right: 10px;
}

.nav-item {
  float: right;
}

.navbar {
  background-color: black;
}

.navbar li:hover {
  cursor:pointer;
  opacity: 50%;
  }

.header {
  display: flexbox;
  text-align: center;

}

.hero-banner {
 background: url(../images/02-hero-bg.jpg);
 background-size: cover;
 overflow: hidden;
 height: 200px;
 display: flex;
}

.container {
  position: relative;
}

.bottomRight {
  margin-right: 20px;
}

.box {
  display: flex;
  color: black;
  background-color: aqua;
}

.name {
  display: flex;
  color: black;
  background-color: aqua;
}

.bottomRight{
  position: absolute;
  bottom: 0;
  right: 0;
}