* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

header { 
  background-color: black;
  
}

h1 {
  display: inline;
  background-color: aqua;
  font-size: 250%;
  margin: 2%
}


h2 {
  display: inline;
  max-width: 25%;
  position: relative;
  left: 50%;
}

h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Nav bar CSS */

.navbar {
  display: inline;
  justify-content: space-between;
  list-style: none;
  margin-right: 10px;
  background-color: black;
}

a {
  float: right;
  list-style-type: none;
  margin: 10%;
  padding: 0;
  margin: 10px;
  padding-top: 10px;
  color: aliceblue;
}

.navbar {

}

.navbar li:hover {
  cursor:pointer;
  opacity: 50%;
  }


/* hero banner CSS */

.hero-banner {
 background: url(../images/02-hero-bg.jpg);
 background-size: cover;
 overflow: hidden;
 height: 200px;
 display: flex;
}

.container {
  position: relative;
}

.bottomRight {
  margin-right: 20px;
}

.cool-sub {
  display: relative;
  left: 370%;
  bottom: -70%;
  color: black;
  background-color: aqua;
}

.name {
  display: flex;
  color: black;
  background-color: aqua;
}



/* main body */

img {
  /* display: flex; */
  max-width: 150px;
  /* position: relative; */
  /* left: 35%; */
}

/* .page-section {
  padding: 20px;
  /* display: inline-block; */
/* } */

/* p {
  max-width: 70%;
  position: relative;
  left: 30%;

} */

/* .aside1 {
  max-width: 25%;
  border-right: 5px solid black ;
} */

.container {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: 
  "aside1 content1 content1"
  "aside2 content2 content2"
  "aside3 content3 content3"
}