* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.hero-banner {
 background: url(../images/02-hero-bg.jpg);
 background-size: cover;
 overflow: hidden;
 height: 200px;
 display: flex;
 text-align: end;
}

.box {
  display: flex;
  color: black;
  background-color: aqua;
}

.bottomRight{
  position: absolute;
  bottom: 0;
  left: 0;
}